/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

/* Declaration of variables */
:root {
	--primary-color: 255, 211, 105;
	--secondary-color: 34, 40, 49;
	--text-color: #393E46;
}

/* Normalization of content */
body {
	color: var(--text-color);
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
}

main {
	padding-bottom: 5em;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(var(--secondary-color));
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

.container {
	padding: 0 8%;
}

/* Navigation section */

.nav {
	grid-column: 1/3;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
}

.nav-menu {
	align-items: center;
}

.nav__menu li {
	display: inline-block;
	padding: 5px 10px;
	border-bottom: 3px solid transparent;
}

.nav__menu li a {
	color: var(--text-color);
	font-size: 13px;
	font-weight: 700;
}

.nav__menu--users li:last-child {
	background-color: rgb(var(--primary-color));
	border-radius: 5px;
	box-shadow: 2px 2px;
}

.nav__menu--users li:last-child:hover {
	box-shadow: 4px 4px;
}

.nav__logo {
	height: 40px;
}

.nav li:hover {
	border-bottom: 3px solid rgb(var(--primary-color));
}

/* Header section */
@keyframes heroBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

.header {
	background-color: #FFFFFF;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255,255,255, .87)), url('../images/pattern.png');
	background-size: 120%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
	padding-bottom: 5em;
	animation: heroBackground 3s linear infinite alternate;
}

.header__title h1 {
	font-size: 60px;
}

.header__image {
	align-self: center;
	width: 400px;
}

/* Style of about section */ 
.about {
	background-color: rgba(var(--primary-color), .3);
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10%;
}

.about__title {
	grid-column: 1/3;
}

/* Style of features */
.features {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

.features__title {
	margin-bottom: 3em;
}

.features__item i {
	font-size: 48px;
}

.features__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 10%;
}

/* Table of services */
.features__table {
	border: 1px solid rgba(var(--secondary-color));
	border-radius: 5px;
	border-spacing: 0;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	border: 1px solid rgba(var(--secondary-color));
	padding: 15px 10px;
}

/* Style of the images section */
.gallery {
	background-color: #F9F9F9;
	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

.gallery__title {
	grid-column: 1/4;
}

.gallery__carousel {
	grid-column: 1/4;
	position: relative;
	height: 300px;
}

/* Keyframes to animate the carousel */
@keyframes carousel {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}
	10% {
		transform: translateX(0);
		opacity: 1;
	}
	20% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}
.gallery__carousel__image {
	width: 500px;
	position: absolute;
	top: 0;
	left: calc(50% - 250px);
	opacity: 0;
	animation: carousel 18s infinite;
}

.gallery__carousel__image:nth-child(2) {
	animation-delay: 2s;
}
.gallery__carousel__image:nth-child(3) {
	animation-delay: 4s;
}
.gallery__carousel__image:nth-child(4) {
	animation-delay: 6s;
}
.gallery__carousel__image:nth-child(5) {
	animation-delay: 8s;
}
.gallery__carousel__image:nth-child(6) {
	animation-delay: 10s;
}
.gallery__carousel__image:nth-child(7) {
	animation-delay: 12s;
}
.gallery__carousel__image:nth-child(8) {
	animation-delay: 14s;
}
.gallery__carousel__image:nth-child(9) {
	animation-delay: 16s;
}

/* Contact section */
.contact {
	text-align: center;
}

.contact__form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.contact__form__input {
	margin-top: 25px;
	background-color: transparent;
	border: 2px solid rgba(var(--secondary-color), .5);
	border-radius: 5px;
	padding: 5px 10px;
}

.contact__form__input--button {
	background-color: rgb(var(--primary-color));
	border: none;
	box-shadow: 2px 2px;
}

.contact__form__input--button:hover {
	cursor: pointer;
	box-shadow: 4px 4px;
}

/* Styles section */ 

.styles {
	text-align: center;
}

.styles__toggle {
	background-color: rgb(var(--primary-color));
	border: none;
	box-shadow: 2px 2px;
}

.styles__toggle {
	cursor: pointer;
	box-shadow: 4px 4px;
}


/* Blog section */ 
.articles--list {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

.articles--list__title {
	grid-column: 1/4;
}

.articles__form {
	grid-column: 1/4;
	display: flex;
	flex-direction: column;
	text-align: left;
}

#button--create {
	grid-column: 4/4;
}

.articles__form__input {
	margin-top: 25px;
	background-color: transparent;
	border: 2px solid rgba(var(--secondary-color), .5);
	border-radius: 5px;
	padding: 5px 10px;
}

.articles__form--button {
	background-color: rgb(var(--primary-color));
	border: none;
	box-shadow: 2px 2px;
}

.articles__form--button:hover {
	cursor: pointer;
	box-shadow: 4px 4px;
}

.articles--create {
	display: none;
}

/* Footer section */
.footer {
	background-color: #393e46;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

.footer--social ul {
	display: inline-flex;
}

.footer--social li {
	margin-left: 15px;
}

.footer--social a:hover {
	color: rgb(var(--primary-color));
}

